*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}
section{
    border: 2px solid white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#center-children{
    display: flex;
    align-items: center;
    justify-content: center;
}
section:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue !important; */
}
section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
#img-div{
    height: 100%;
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: red; */
    z-index: i;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.4;
}
.btn {
    text-transform: uppercase;
    font-size: 18px;
    width: fit-content;
    background-color: white;
    border-radius: 50px;
    border: none;
    padding: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

#box{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: crimson;
}
#box2{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: salmon;
}